<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GenshinGuide.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GenshinGuide.Properties.Settings>
            <setting name="Genshin" serializeAs="String">
                <value>0, 19</value>
            </setting>
            <setting name="ScanWeapons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScanArtifacts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScanCharacters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScanMaterials" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormatGood" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FormatSeelie" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScannerDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="InventoryKey" serializeAs="String">
                <value>66</value>
            </setting>
            <setting name="CharacterKey" serializeAs="String">
                <value>67</value>
            </setting>
            <setting name="OldDatabase" serializeAs="String">
                <value />
            </setting>
        </GenshinGuide.Properties.Settings>
    </userSettings>
</configuration>