<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="InventoryKamera.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <InventoryKamera.Properties.Settings>
            <setting name="ScanWeapons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScanArtifacts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScanCharacters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScannerDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="InventoryKey" serializeAs="String">
                <value>66</value>
            </setting>
            <setting name="CharacterKey" serializeAs="String">
                <value>67</value>
            </setting>
            <setting name="ScanCharDevItems" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScanMaterials" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimumWeaponRarity" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MinimumArtifactRarity" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="UpgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastUpdateCheck" serializeAs="String">
                <value>1000-01-01</value>
            </setting>
            <setting name="RemoteVersion" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="MinimumWeaponLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MinimumArtifactLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogScreenshots" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EquipWeapons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EquipArtifacts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TravelerName" serializeAs="String">
                <value />
            </setting>
            <setting name="WandererName" serializeAs="String">
                <value>wanderer</value>
            </setting>
            <setting name="Executables" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>GenshinImpact</string>
                        <string>YuanShen</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Slot1Key" serializeAs="String">
                <value>1</value>
            </setting>
        </InventoryKamera.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
