<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net472" />
  <package id="Accord.Imaging" version="3.8.0" targetFramework="net472" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net472" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net472" />
  <package id="HtmlAgilityPack.NetCore" version="1.5.0.1" targetFramework="net472" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="NHotkey" version="2.1.0" targetFramework="net472" />
  <package id="NHotkey.WindowsForms" version="2.1.0" targetFramework="net472" />
  <package id="NLog" version="4.7.15" targetFramework="net472" />
  <package id="Tesseract" version="4.1.1" targetFramework="net472" />
  <package id="WindowsAPICodePack" version="1.1.2" targetFramework="net472" />
</packages>